@import url(//fonts.googleapis.com/css?family=Vibur);
@import url(//fonts.googleapis.com/css2?family=Monoton);
@import url(//fonts.googleapis.com/css2?family=Lobster);

.canvas{
    position: absolute;
    top: 0px;
    display: inline-block;
    z-index: -99999999;
}


.create_page {
    width: 100% !important;
    position: absolute;
    margin-top: 60px !important;
    left: 0;
    right: 0;
    padding: 0 200px;
}

.light{
    box-shadow: 0px 1px 0px 9px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
    border-radius: 30px;
    padding: 30px;
    text-align: center
}
.light input{
    width: 40%!important;
}

* {
    margin: 0;
    padding: 0;
}

.container_test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#apple,
#twitter,
#github,
#facebook {
    display: inline-block;
    font-size: 6em;
    border-radius: 50%;
    animation: animate 3s linear infinite;
    text-shadow: 0px 1px 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
    line-height: initial;
    cursor: pointer;
    transition: transform 0.8s, text-shadow 1s, animation 1s, font-size 1s, opacity 2s, text-shadow 1s ;
}

#twitter {
    animation-delay: 0.3s;
}
#facebook {
    animation-delay: 0.7s;
}
#github {
    animation-delay: 0.1s;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.logo_image{
    width:800px;
}

.hello_page_holder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poop_gif{
    width: 300px;
    position: absolute;
    z-index: -99;
    top: 160px;
}

.go_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.go_box .text,
.final_container .text,
.ahtung_text .text{
    font-size: 15px!important;
    color: #fff;
}

#apple:hover{
    transform: rotate(360deg);
    text-shadow: none;
    animation: none;
    font-size: 7em;
}

#apple.default_shit{
    opacity: 40%;
    text-shadow: none;
    animation: none;
}

.final_name{
    font: 400 15vh "Lobster";
    color: #fff;
}

.final_nick{
    font: 400 25vh "Lobster"
}

.final_box{
    text-align: center;
    margin-top: 50px;
}

[type="checkbox"] + span:not(.lever) {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
}

.go_next_box.shown{
    opacity: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.go_next_box{
    opacity: 0%;
    transition: opacity 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ahtung_text{
    text-align: center;
    color: #fff;
    font-size: 18px !important;
    display: block !important;
}

@media (max-width: 700px){
    .logo_image {
        width: auto;
        margin-top: 100px;
        margin-left: 10px;
    }

    .final_name{
        color: #fff;

        font: 400 10vh "Lobster" !important;
    }

    .final_nick{
        font: 400 8vh "Lobster"
    }

    .poop_gif{
        width: 200px;
        top: 180px;
    }

    .go_box{
        margin-top: 100px;
    }

    .create_page{
        padding: 0;
        margin-top: 60px !important;
        height: 60% !important;
    }

    .ahtung_text{
        font-size: 15px!important;
        margin-top: 50px;
    }


    .light input{
        margin-top: 30px!important;
        width: 60% !important;
    }

    .light{
        box-shadow: none;
    }

    .neon b{
        font: 400 8vh "Vibur" !important;
    }
    .neon_two b{
        font: 400 5vh "Monoton" !important;
    }

    .all_neons_holder{
        margin-top: 100px
    }

    .neon{
        padding-left: 15px!important;
        width: auto !important;
    }

    .neon_holder{
        margin-left: -20px !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .neon.small b{
        font: 400 2vh "Vibur" !important;
        padding-left: 10px!important;
    }

    .neon.small.two{
        padding-left: 0 !important;
    }

    .neon.small.two b{
        font: 400 3vh "Vibur" !important;
        display: flex;
        justify-content: center;
        padding-left: 0!important;
        margin-bottom: 0!important;

    }

    .final_box{
        margin: 60px 0 0 0;

    }

    .final_container{
        margin-top: 100px;
    }
}

.neon.small.two{
    padding-left: 0 !important;
}

.neon.small.two b{
    font: 400 3vh "Vibur" !important;
    display: flex;
    justify-content: center;
    padding-left: 0!important;
    margin-bottom: 20px;
}

.neon.small b{
    display:flex;
    font: 400 4vh "Vibur" !important;
    margin-top: -7px;
}



html,body{
    height:100%;
    overflow: hidden;
}
body {
    height:100%;
    background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
    background-size:cover;
    margin:0;
    overflow: hidden;
}

.neon_holder{
    display: flex;
    margin-left: -70px;
    justify-content: center;
}

.neon {
    text-align: center;
    user-select: none;
    padding-left: 60px;
}

.neon b{
    font: 400 16vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}



.neon b span{
    animation: blink linear infinite 2s;
}
.neon b span:nth-of-type(2){
    animation: blink linear infinite 3s;
}
.neon_two {
    text-align: center;
}
.neon_two b{
    font: 400 13vh "Monoton";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.neon_two b span{
    animation: blink linear infinite 2s;
}
.neon_two b span:nth-of-type(2){
    animation: blink linear infinite 3s;
}


@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79%{
        color: #333;
    }
    80% {

        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #333;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

.dakon_list{

}







